@model HLAN.Models.Entitie.Upisnica

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Upisnica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Ime" class="control-label"></label>
                <input asp-for="User.Ime" class="form-control" />
                <span asp-validation-for="User.Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Prezime" class="control-label"></label>
                <input asp-for="User.Prezime" class="form-control" />
                <span asp-validation-for="User.Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.OIB" class="control-label"></label>
                <input asp-for="User.OIB" class="form-control" />
                <span asp-validation-for="User.OIB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Slika" class="control-label"></label>
                <input asp-for="User.Slika" class="form-control" />
                <span asp-validation-for="User.Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/img/@Model.User.Profilna" class="rounded-circle" height="40" width="40" asp-append-version="true" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PrihvaceniUvjeti" /> @Html.DisplayNameFor(model => model.PrihvaceniUvjeti)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

