@page
@model HLAN.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "RegisterConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Mail with confirmation link is sent to you</h4>
